body {
  background-color: white;
  font-family: 'Inter';
}

.icon-color {
  color: black;
}

.icon-space { /* space between fa-icon and accordion title */
  margin-right: 1rem;
  vertical-align: middle;
}


/* avatar */
.round {
  border-radius: 100px;
  max-width: 120px;
  max-height: 120px;
}
.image-container img {
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}
.image-container img:hover {
  filter: grayscale(0);
}
/* personal information */
.interTight { /* other font for  */
  font-family: 'Inter Tight';
}
.sizeName { 
  font-size: 30px;
}
.sizeOccupation { /* font for occupation text */
  font-size: 20px;
  font-weight: lighter;
}
.sizeLocation { /* font for location text */
  font-size: 12px;
  font-weight: lighter;
}
.fa-mar-lef { /* making space for fa icon and text */
  margin-right: 5px;
}


/* HR line */
hr { 
  margin-top: 1vw; /* making space top */
  margin-bottom: 1vw; /* making space bottom */
  border: 1px solid #E5E5E5; /* size + color */
  width: clamp(400px, 41vw, 800px);
}


/* scrollbar */
html {
  overflow: scroll;
  overflow-x: hidden; /* hide horizontal scrollbar */
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Make scrollbar invisible */
}

.responsiveness {
  width: clamp(400px, 41vw, 800px);
  justify-self: center;
  text-align: center;
}

.form-upload {
  width: clamp(400px, 41vw, 800px);
  justify-self: center;
  gap: 1rem;
}