/* accordion */
.accordion-container {
    display: flex; /* helps accordion content to center */
    flex-direction: column; 
    align-items: center;
    margin-bottom: 20vh;
}
.accordion { 
    color: black; /* Title color */
    cursor: pointer; /* cursor hover effect */
    padding: 18px; /* padding */
    width: 40vw; /* width */
    border: none; /* no border */
    text-align: left; /* text aligns left */
    font-size: 25px; /* font size */
    font-weight: bold; /* font bold */
    transition: 0.4s; /* opening accordion */
    background-color: white;
  }
/* down/up arrow icon */
.accordion:after {
    content: '˅';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: '˄';
  }
  .panel {
    align-items: center;
    width: 38vw; /* width */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }