body {
  background-color: white;
  font-family: 'Inter';
}

.icon-color {
  color: black;
}

.icon-space { /* space between fa-icon and accordion title */
  margin-right: 2vh;
  vertical-align: middle;
}

.center {
  text-align: center;
}

/* avatar */
.round {
  border-radius: 100px;
  max-width: 120px;
  max-height: 120px;
}
.image-container img {
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}
.image-container img:hover {
  filter: grayscale(0);
}
/* personal information */
.interTight { /* other font for  */
  font-family: 'Inter Tight';
}
.sizeName { 
  font-size: 30px;
}
.sizeOccupation { /* font for occupation text */
  font-size: 20px;
  font-weight: lighter;
}
.sizeLocation { /* font for location text */
  font-size: 12px;
  font-weight: lighter;
}
.fa-mar-lef { /* making space for fa icon and text */
  margin-right: 5px;
}
/* HR line */
hr { 
  margin-top: 1vw; /* making space top */
  margin-bottom: 1vw; /* making space bottom */
  border: 1px solid #E5E5E5; /* size + color */
  width: 41vw; /* width */
}


/* footer */
footer {
  position: sticky;
}
footer .fa-size {
  font-size: 25px;
}
footer .social-media a {
  color: black; /* social media icon color */
  text-decoration: none;
}
.bottom { /* done ugly but its so the footer stays at the bottom of the website */
  margin-top: 11.5%;
}
.carmeleon a { /* mini carmeleon to hide the login */
  color: white;
  font-size: 40px;
}
.carmeleon a:hover { /* mini carmeleon to hide the login */
  color: black;
  font-size: 40px;
  transition: 1s ease-in-out;
}

/* scrollbar */
html {
  overflow: scroll;
  overflow-x: hidden; /* hide horizontal scrollbar */
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Make scrollbar invisible */
}